div {
  width: 200px;
  height: 200px;
  background-color: lime;
  margin: 10px;
}
.test {
  background-color: red;
}
p {
  width: 200px;
  height: 50px;
  background-color: yellow;
  margin: 10px;
}
